.groups-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;

  }


  .group-card {
    background-color: #f0f0f0; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .group-card:hover {
    transform: translateY(-5px);
  }
  
  .group-name {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .group-participants,
  .group-expenses {
    margin: 5px 0;
  }
  

.no-groups{
  color: white;
}


  

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
  background-color: #2929c2;
  color: white;
}

.pagination button.active {
  background-color: #2929c2;
  color: white;
  cursor: default;
  border-color: #2929c2;
}

.pagination button.disabled {
  background-color: #f1f1f1;
  color: #aaa;
  cursor: not-allowed;
  border-color: #ddd;
}
